<template>
  <div class="home overflow-hidden">
    <div class="background-city minh-100vh">
      <div class="bg-opacity">
        <div class="mdl-grid"> <!-- HEADER DEL SISTEMA -->
          <div class="mdl-cell mdl-cell--7-col mdl-cell--12-col-tablet d-flex j-center">
            <div class="w-100">
              <h2 class="text-center raleway animated slideInLeft delay-1s fs-white">WELCOME TO ECONOMIC INDICATORS CHILE</h2>
              <h3 class="text-center raleway animated slideInLeft delay-1s fs-white">Discover all our values</h3>
            </div>
          </div>
          <div class="mdl-cell mdl-cell--5-col mdl-cell--12-col-tablet d-flex j-center"> 

            <!-- FORMULARIO DE BUSQUEDA -->

            <form @submit.prevent="search()" class="animated slideInRight delay-1s demo-card-wide mdl-card mdl-shadow--2dp overflow-visible" style="z-index:4 !important;">
              <div class="mdl-card__title d-flex">
                <div class="bg-opacity d-flex j-center h-100 w-100">
                  <h2 class="mdl-card__title-text raleway" style="padding-bottom:1.5rem;">¿Quieres realizar una busqueda?</h2>
                </div>
              </div>
              <div class="mdl-card__supporting-text overflow-visible">
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label getmdl-select">
                  <input type="text" class="mdl-textfield__input fs-20 raleway" style="height:30px;" id="sample4" readonly>
                  <input type="hidden" v-model="indicador" value="" name="inputIndicador" id="inputIndicador">
                  <i class="mdl-icon-toggle__label material-icons">keyboard_arrow_down</i>
                  <label for="sample4" class="fs-20 mdl-textfield__label">Valor</label>
                  <ul for="sample4" class="fs-20 mdl-menu mdl-menu--bottom-left mdl-js-menu">
                      <li class="mdl-menu__item" data-val="uf">UF</li>
                      <li class="mdl-menu__item" data-val="ivp">IVP</li>
                      <li class="mdl-menu__item" data-val="dolar">Dolar - USD</li>
                      <li class="mdl-menu__item" data-val="dolar_intercambio">Dolar - Intercambio</li>
                      <li class="mdl-menu__item" data-val="euro">Euro - EUR</li>
                      <li class="mdl-menu__item" data-val="ipc">IPC</li>
                      <li class="mdl-menu__item" data-val="imacec">IMACEC</li>
                      <li class="mdl-menu__item" data-val="tpm">TPM</li> 
                      <li class="mdl-menu__item" data-val="libra_cobre">Libra - Cobre</li>                                       
                      <li class="mdl-menu__item" data-val="tasa_desempleo">Tasa de Desempleo</li> 
                      <li class="mdl-menu__item" data-val="bitcoin">BITCOIN</li>                    
                  </ul>
                </div>
                <date-picker class="fs-20" style="width:300px;" v-model="date" :lang="lang"></date-picker>
              </div>
              <div class="mdl-card__actions mdl-card--border" style="padding:16px !important;">
                <button :disabled="loading" type="submit" class="raleway fs-20 mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" style="width:300px;">
                  <span v-if="loading == false">BUSCAR</span>
                  <span v-if="loading != false"><i class="fas fa-circle-notch fa-spin"></i></span>
                </button>
              </div>
            </form>
          </div>
        </div>


        <!-- PANEL VISUAL -->


          <div class="w-100 minh-50vh d-flex j-center">
            <div style="width:100%;">
              <div style="padding:2rem;" v-if="active == true">
                <div id="resultados" class="w-100 mdl-card mdl-shadow--2dp animated slideInLeft delay-1s" style="padding:2rem; min-height:0px !important" v-if="resultados != {} && active == true">
                  
                  <!-- MENSAJES DE RESPUESTA -->
                  <h3 v-if="type == 'withoutDate' && loading == false && resultados.serie.length > 0" class="animated slideInRight delay-1s"><span class="text-title-search">Resultados para {{resultados.nombre}}.</span><br> Recuerde que la unidad de medida son {{resultados.unidad_medida}}</h3>
                  <h3 v-if="type == 'withDate' && loading == false && resultados.serie.length > 0" class="animated slideInRight delay-1s"><span class="text-title-search">Resultados para {{resultados.nombre}}.</span><br> Recuerde que la unidad de medida son {{resultados.unidad_medida}} y son resultados unicamente para la fecha de {{date}}</h3>
                  <h3 v-if="loading == false && resultados.serie.length == 0" class="animated slideInLeft delay-1s">No hay resultados de busqueda en los criterios seleccionados. Por favor, verifique la información introducida</h3>
                  <h3 v-if="loading == true" style="margin:0 !important;" class="raleway"><i class="fas fa-circle-notch fa-spin"></i> Cargando resultados.. Por favor espere</h3>
                  
                  
                  <!-- EN CASO DE HABER RESULTADOS, SE LISTAN DE LA SIGUIENTE MANERA -->

                  <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp animated slideInRight delay-1s" v-if="active == true && loading == false && resultados.serie.length > 0">
                    <thead>
                      <tr>
                        <th class="mdl-data-table__cell--non-numeric fs-25">Fecha</th>
                        <th class="mdl-data-table__cell--non-numeric fs-25">Valor</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr v-for="valor in resultados.serie" :key="valor.valor">
                        <td class="mdl-data-table__cell--non-numeric fs-20">{{valor.fecha}}</td>
                        <td class="mdl-data-table__cell--non-numeric fs-20">{{valor.valor}}</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>
  </div>
</template>
<style lang="scss">
/* ESTILOS GENERALES PARA REUTILIZAR */

/* ALTURA */
.minh-100vh{
  min-height:100vh;
}
.minh-50vh{
  min-height:50vh;
}

/* LAYOUT */
.d-flex{
  display:flex !important;
}
.j-center{
  justify-content:center;
  align-items:center;
  text-align:center;
}
.h-100{
  height:100%;
}
.w-100{
  width:100%;
}

/* FUENTES */
.fs-25{
  font-size:25px !important;
}
.fs-20{
  font-size:20px !important;
}
.fs-white{
  color:white;
}

/* VISIBILIDAD */
.overflow-hidden{
  overflow:hidden !important;
}
.overflow-visible{
  overflow:visible !important;
}
.text-title-search{
  text-transform:uppercase;
  font-weight:600;
}

/* FONDOS */
.bg-opacity{
  background-color:rgba(1,1,1,.5);
}
.background-city{
  background-image:url('../assets/santiago.jpg');
  background-position:center;
  width:100%;
  background-attachment: fixed;
  background-size:cover;
}

/* CARD */
.demo-card-wide.mdl-card {
  width: 512px;
}
.demo-card-wide > .mdl-card__title {
  color: #fff;
  height: 176px;
  background-image: url('../assets/economy.jpeg');
  background-size:cover;
  background-position:center;
  padding:0 !important;
}
.demo-card-wide > .mdl-card__menu {
  color: #fff;
}
</style>
<script>

// IMPORTACION DE ELEMENTOS A USAR EN EL TEMPLATE
import moment from 'moment';
import axios from 'axios';
import DatePicker from 'vue2-datepicker';

export default {
  name: 'home',

  // COMPONENTE DEL DATEPICKER
  components:{
    DatePicker,
  },

  data(){
    return{

      // ELEMENTOS O DATOS QUE INTERACTUAN EN EL TEMPLATE

      busqueda:[],
      date:'',
      dateD:'',
      lang: {
        days: ['Dom', 'Lun', 'Mar', 'Mie', 'Jue', 'Vie', 'Sab'],
        months: ['Ene', 'Feb', 'Mar', 'Abr', 'May', 'Jun', 'Jul', 'Ago', 'Sep', 'Oct', 'Nov', 'Dic'],
        pickers: ['next 7 days', 'next 30 days', 'previous 7 days', 'previous 30 days'],
        placeholder: {
          date: 'Seleccione fecha',
          dateRange: 'Select Date Range'
        }
      },
      indicador:'',
      resultados:{},
      loading:false,
      type:'',
      active:false,
    }
  },
  methods:{

    // FUNCION DE BUSQUEDA

    search(){

        // CAMBIO DE VARIABLES INICIAL
        var valueInput = document.getElementById("inputIndicador").value;
        this.indicador = valueInput;
        var self = this;
        self.active = true;
        self.loading = true;

        // VALIDAR SI HAY FECHA EN EL CAMPO DE BUSQUEDA
        if(this.date === ''){
          self.type = 'withoutDate';

          // PETICION GET A LA API DE MINDICADOR
          axios({
            method: 'get',
            url: 'https://mindicador.cl/api/'+self.indicador,
          }).then(response => {
              this.resultados = response.data;
              self.loading = false;
          });

          // DE NO HABER FECHA DEFINIDA SE EJECUTA LA SIGUIENTE FUNCION
        }else{
          var dateString = self.date;
          self.type = 'withDate';
          var searchDate = moment(dateString).format('DD-MM-YYYY');

          // PETICION GET
          axios({
            method: 'get',
            url: 'https://mindicador.cl/api/'+self.indicador+'/'+searchDate,
          }).then(response => {
              this.resultados = response.data;
              self.loading = false;
          });
        }
    }
  }
}
</script>
