<template>
  <div id="app">
    <!-- VISOR DE LOS TEMPLATES -->
    <router-view/>
  </div>
</template>

<style>
/* IMPORTADA FUENTE DE GOOGLE FONTS */
@import url('https://fonts.googleapis.com/css?family=Raleway');

/* DEFINICIÓN DE CODIGO BASE */
#app {
  font-family: 'Raleway', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

/* FUENTE GLOBAL */
.raleway{
  font-family: 'Raleway' !important;
}
</style>
